<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head><title>Liste</title></head>
<body>
<h2>Liste de admin</h2>
<a th:href='@{/admin/create}'>Créer</a>
<table border='1'>
<thead><tr>
<th>id</th>
<th>username</th>
<th>password</th>
<th>Actions</th>
</tr></thead>
<tbody>
<tr th:each='row : ${admins}'>
<td th:text='${row.id}'></td>
<td th:text='${row.username}'></td>
<td th:text='${row.password}'></td>
<td>
<a th:href='@{/admin/edit/{id}(id=${row.id})}'>Edit</a> | <a th:href='@{/admin/delete/{id}(id=${row.id})}'>Delete</a>
</td></tr>
</tbody></table></body></html>