<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head><title>Edit</title></head>
<body>
<h2>Edit resultat_entretient</h2>
<form th:action='@{/resultat_entretient/update}' th:object='${resultat_entretient}' method='post'>
id: <input type='text' th:field='*{id}'/><br/>
employee_id: <select th:field='*{employee_id}'>
<option th:each='item : ${employees}' th:value='${item.id}' th:text='${item}' th:selected='${item.id} == ${resultat_entretient.employee_id.id}'></option>
</select><br/>
candidature_id: <select th:field='*{candidature_id}'>
<option th:each='item : ${candidatures}' th:value='${item.id}' th:text='${item}' th:selected='${item.id} == ${resultat_entretient.candidature_id.id}'></option>
</select><br/>
pourcentage_satisfaction: <input type='text' th:field='*{pourcentage_satisfaction}'/><br/>
date_resultat: <input type='text' th:field='*{date_resultat}'/><br/>
<button type='submit'>Mettre à jour</button></form></body></html>