<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head><title>Créer</title></head>
<body>
<h2>Créer assurance_social_employee</h2>
<form th:action='@{/assurance_social_employee/save}' th:object='${assurance_social_employee}' method='post'>
employee_id: <select th:field='*{employee}' th:object='${assurance_social_employee}'>
<option th:each='item : ${employees}' th:value='${item.id}' th:text='${item.name}'></option>
</select><br/>
organisme_id: <select th:field='*{organisme_social}' th:object='${assurance_social_employee}'>
<option th:each='item : ${organisme_socials}' th:value='${item.id}' th:text='${item.name}'></option>
</select><br/>
date_attribution: <input type='text' th:field='*{date_attribution}'/><br/>
<button type='submit'>Enregistrer</button></form></body></html>