<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head><title>Liste</title></head>
<body>
<h2>Liste de assurance_social_employee</h2>
<a th:href='@{/assurance_social_employee/create}'>Créer</a>
<table border='1'>
<thead><tr>
<th>id</th>
<th>employee_id</th>
<th>organisme_id</th>
<th>date_attribution</th>
<th>Actions</th>
</tr></thead>
<tbody>
<tr th:each='row : ${assurance_social_employees}'>
<td th:text='${row.id}'></td>
<td th:text='${row.employee}'></td>
<td th:text='${row.organisme_social}'></td>
<td th:text='${row.date_attribution}'></td>
<td>
<a th:href='@{/assurance_social_employee/edit/{id}(id=${row.id})}'>Edit</a> | <a th:href='@{/assurance_social_employee/delete/{id}(id=${row.id})}'>Delete</a>
</td></tr>
</tbody></table></body></html>