<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Planifier un Entretien</title>
</head>
<body>
 

    <form th:action="@{/planing_entretient/save}" th:object="${planing_entretient}" method="post">
        <!-- Champ caché : id de la candidature -->
      
           <input type="hidden" th:field="*{candidature}" />

           
        <label>Date et heure :</label>
        <input type="datetime-local" th:field="*{Date_entretient}" required />
        <br>

        <label>Employé chargé :</label>
        <select th:field="*{employee}">
            <option th:each="e : ${employees}" th:value="${e.id}" th:text="${e.username}"></option>
        </select>
        <br>

        <label>Siège :</label>
        <select th:field="*{siege_entreprise}">
            <option th:each="s : ${siege_entreprises}" th:value="${s.id}" th:text="${s.name}"></option>
        </select>
        <br>

     
        <br>

        <button type="submit">Planifier</button>
    </form>
</body>
</html>
