<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head><title>Edit</title></head>
<body>
<h2>Edit planing_entretient</h2>
<form th:action='@{/planing_entretient/update}' th:object='${planing_entretient}' method='post'>
id: <input type='text' th:field='*{id}'/><br/>
employee_id: <select th:field='*{employee_id}'>
<option th:each='item : ${employees}' th:value='${item.id}' th:text='${item}' th:selected='${item.id} == ${planing_entretient.employee_id.id}'></option>
</select><br/>
candidature_id: <select th:field='*{candidature_id}'>
<option th:each='item : ${candidatures}' th:value='${item.id}' th:text='${item}' th:selected='${item.id} == ${planing_entretient.candidature_id.id}'></option>
</select><br/>
siege_entreprise_id: <select th:field='*{siege_entreprise_id}'>
<option th:each='item : ${siege_entreprises}' th:value='${item.id}' th:text='${item}' th:selected='${item.id} == ${planing_entretient.siege_entreprise_id.id}'></option>
</select><br/>
date_entretient: <input type='text' th:field='*{date_entretient}'/><br/>
<button type='submit'>Mettre à jour</button></form></body></html>