<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
    <head>
        <title>Créer</title>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>

    <body>
    <div class="container">
        <h2>Detail de la candidature</h2>
        <form th:action='@{/detail_candidature/save}' method='post' enctype="multipart/form-data">
            Genre: <select name="genre_id" required>
                <option th:each='item : ${genres}' th:value='${item.id}'
                    th:text='${item.name}'></option>
            </select><br />
            Durée experience: <input type='text' class="input"
                name="duree_experience" /><br />
            Skills: <textarea name="skills"></textarea><br />
            Motivation: <textarea name="motivation"></textarea> <br />
            Experience professionnelle: <textarea
                name="experience_professionnelle"></textarea><br />
            Address <input type='text' class="input" name='address' required /><br />
            Residence <input type='text' class="input" name='residence' required /><br />
            CV: <input type="file" name="cv" id required><br />
            Lettre de motivation: <input type="file" name="lm" id><br />
            CIN: <input  class="input" type="text" name='cin'><br />
            <button type='submit'>Enregistrer</button>
        </form>
        </div>

    </body>

</html>