<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
    <head><title>Liste</title></head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <body>
        <h2>Scoring candidature</h2>
        <div class="inputs">
            <div class="inputtype">
                <label for>Date de résultat début</label>
                <input type="datetime-local" name="date_debut">
            </div>
            <div class="inputtype">
                <label for>Date de résultat fin</label>
                <input type="datetime-local" name="date_fin">
            </div>
            <div class="inputtype">
                <label for>Pourcentage minimale</label>
                <input type="number" name="pourcentage_embauche_min">
            </div>
            <div class="inputtype">
                <label for>Pourcentage maximale</label>
                <input type="number" name="pourcentage_embauche_max">
            </div>
            <div class="inputtype">
                <button id="rechercher">Rechercher</button>
            </div>
        </div>
        <div class="valiny">
            <table border='1'>
                <thead><tr>
                        <th>Date de résultat</th>
                        <th>Nom</th>
                        <th>Titre de l'annonce</th>
                        <th>pourcentage d'embauche</th>
                        <th>Actions</th>
                    </tr></thead>
                <tbody>

                    <!-- Si la liste est vide ou null -->
                    <tr
                        th:if="${scoring_candidatures == null or #lists.isEmpty(scoring_candidatures)}">
                        <td colspan="5" style="text-align:center;">Aucun
                            résultat trouvé</td>
                    </tr>


                    <tr th:each='row : ${scoring_candidatures}' th:if="${scoring_candidatures != null and !#lists.isEmpty(scoring_candidatures)}">
                        <td class="date"
                            th:text="${#temporals.format(row.date_resultat, 'dd/MM/yyyy HH:mm')}"></td>
                        <td
                            th:text='${row.candidature.utilisateur.username}'></td>
                        <td th:text='${row.candidature.annonce.title}'></td>
                        <td th:text='${row.pourcentage_embauche}'></td>
                        <td>
                            <a
                                th:href='@{/scoring_candidature/edit/{id}(id=${row.id})}'>Valider</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <script>
        document.addEventListener('DOMContentLoaded', ()=> {
           
            const bouton  = document.getElementById("rechercher");
            const valiny = document.querySelector('.valiny');
            async function fetchData(){
                    try {

                const date_debut = document.querySelector('input[name="date_debut"]').value;
                const date_fin = document.querySelector('input[name="date_fin"]').value;
                const pourcentage_embauche_min = document.querySelector('input[name="pourcentage_embauche_min"]').value;
                const pourcentage_embauche_max = document.querySelector('input[name="pourcentage_embauche_max"]').value;

                    const params = new URLSearchParams();
                    params.append("date_debut", date_debut);
                    params.append("date_fin", date_fin);
                    params.append("pourcentage_embauche_min", pourcentage_embauche_min);
                    params.append("pourcentage_embauche_max", pourcentage_embauche_max);

                    console.log(" date_debut ",params.get("date_debut"), " ",date_debut);
                    console.log(" date_fin ",params.get("date_fin")," ",date_fin);

                    console.log(" pourcentage min ",params.get("pourcentage_embauche_min"));
                    console.log(" pourcentage max ",params.get("pourcentage_embauche_max"));

                    const response = await fetch('/scoring_candidature/filtre',{
                        method:'POST',
                        headers:{'Content-type':'application/x-www-form-urlencoded'},
                        body:params
                    });

                    const datum =  await response.text();
                    //console.log(datum);
                    valiny.innerHTML=datum;
                } catch (error) {
                    console.log("erreur lors de fetch ",error);
                }
            }


            bouton.addEventListener('click',async function(){
                await fetchData();
            });


            
        });
    </script>
    </body>
</html>