<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head><title>Liste</title></head>
<body>
<h2>Liste de contrat_employee</h2>
<a th:href='@{/contrat_employee/create}'>Créer</a>
<table border='1'>
<thead><tr>
<th>id</th>
<th>admin_id</th>
<th>employee_id</th>
<th>contrat_id</th>
<th>date_debut_contrat</th>
<th>date_fin_contrat</th>
<th>Actions</th>
</tr></thead>
<tbody>
<tr th:each='row : ${contrat_employees}'>
<td th:text='${row.id}'></td>
<td th:text='${row.admin}'></td>
<td th:text='${row.employee}'></td>
<td th:text='${row.type_contrat}'></td>
<td th:text='${row.date_debut_contrat}'></td>
<td th:text='${row.date_fin_contrat}'></td>
<td>
<a th:href='@{/contrat_employee/edit/{id}(id=${row.id})}'>Edit</a> | <a th:href='@{/contrat_employee/delete/{id}(id=${row.id})}'>Delete</a>
</td></tr>
</tbody></table></body></html>