<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head><title>Créer</title></head>
<body>
<h2>Créer historique_role</h2>
<form th:action='@{/historique_role/save}' th:object='${historique_role}' method='post'>
employee_id: <select th:field='*{employee}' th:object='${historique_role}'>
<option th:each='item : ${employees}' th:value='${item.id}' th:text='${item.name}'></option>
</select><br/>
role_id: <select th:field='*{role}' th:object='${historique_role}'>
<option th:each='item : ${roles}' th:value='${item.id}' th:text='${item.name}'></option>
</select><br/>
date_modification: <input type='text' th:field='*{date_modification}'/><br/>
<button type='submit'>Enregistrer</button></form></body></html>