<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head><title>Liste</title></head>
<body>
<h2>Liste de historique_role</h2>
<a th:href='@{/historique_role/create}'>Créer</a>
<table border='1'>
<thead><tr>
<th>id</th>
<th>employee_id</th>
<th>role_id</th>
<th>date_modification</th>
<th>Actions</th>
</tr></thead>
<tbody>
<tr th:each='row : ${historique_roles}'>
<td th:text='${row.id}'></td>
<td th:text='${row.employee}'></td>
<td th:text='${row.role}'></td>
<td th:text='${row.date_modification}'></td>
<td>
<a th:href='@{/historique_role/edit/{id}(id=${row.id})}'>Edit</a> | <a th:href='@{/historique_role/delete/{id}(id=${row.id})}'>Delete</a>
</td></tr>
</tbody></table></body></html>