<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head><title>Liste</title></head>
<body>
<h2>Liste de detail_horaire</h2>
<a th:href='@{/detail_horaire/create}'>Créer</a>
<table border='1'>
<thead><tr>
<th>id</th>
<th>id_horaire</th>
<th>heure_debut</th>
<th>heure_fin</th>
<th>Actions</th>
</tr></thead>
<tbody>
<tr th:each='row : ${detail_horaires}'>
<td th:text='${row.id}'></td>
<td th:text='${row.horaire_travail}'></td>
<td th:text='${row.heure_debut}'></td>
<td th:text='${row.heure_fin}'></td>
<td>
<a th:href='@{/detail_horaire/edit/{id}(id=${row.id})}'>Edit</a> | <a th:href='@{/detail_horaire/delete/{id}(id=${row.id})}'>Delete</a>
</td></tr>
</tbody></table></body></html>