<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head><title>Créer</title></head>
<body>
<h2>Créer candidature</h2>
<form th:action='@{/candidature/save}' th:object='${candidature}' method='post'>
user_id: <select th:field='*{utilisateur}' th:object='${candidature}'>
<option th:each='item : ${utilisateurs}' th:value='${item.id}' th:text='${item.username}'></option>
</select><br/>
annonce_id: <select th:field='*{annonce}' th:object='${candidature}'>
<option th:each='item : ${annonces}' th:value='${item.id}' th:text='${item.name}'></option>
</select><br/>
date_candidature: <input type='text' th:field='*{date_candidature}'/><br/>
status_traitement_id: <select th:field='*{status_traitement}' th:object='${candidature}'>
<option th:each='item : ${status_traitements}' th:value='${item.id}' th:text='${item.name}'></option>
</select><br/>
<button type='submit'>Enregistrer</button></form></body></html>