<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head><title>Liste</title></head>
<body>
<h2>Liste de type_contrat</h2>
<a th:href='@{/type_contrat/create}'>Créer</a>
<table border='1'>
<thead><tr>
<th>id</th>
<th>name</th>
<th>durre_contrat</th>
<th>recurrence_renouvelement</th>
<th>Actions</th>
</tr></thead>
<tbody>
<tr th:each='row : ${type_contrats}'>
<td th:text='${row.id}'></td>
<td th:text='${row.name}'></td>
<td th:text='${row.durre_contrat}'></td>
<td th:text='${row.recurrence_renouvelement}'></td>
<td>
<a th:href='@{/type_contrat/edit/{id}(id=${row.id})}'>Edit</a> | <a th:href='@{/type_contrat/delete/{id}(id=${row.id})}'>Delete</a>
</td></tr>
</tbody></table></body></html>