<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head><title>Liste</title></head>
<body>
<h2>Liste de information_employee</h2>
<a th:href='@{/information_employee/create}'>Créer</a>
<table border='1'>
<thead><tr>
<th>id</th>
<th>employee_id</th>
<th>contrat_id</th>
<th>first_name</th>
<th>last_name</th>
<th>email</th>
<th>phone</th>
<th>address</th>
<th>cv</th>
<th>lm</th>
<th>cin</th>
<th>residence</th>
<th>date_creation</th>
<th>Actions</th>
</tr></thead>
<tbody>
<tr th:each='row : ${information_employees}'>
<td th:text='${row.id}'></td>
<td th:text='${row.employee}'></td>
<td th:text='${row.type_contrat}'></td>
<td th:text='${row.first_name}'></td>
<td th:text='${row.last_name}'></td>
<td th:text='${row.email}'></td>
<td th:text='${row.phone}'></td>
<td th:text='${row.address}'></td>
<td th:text='${row.cv}'></td>
<td th:text='${row.lm}'></td>
<td th:text='${row.cin}'></td>
<td th:text='${row.residence}'></td>
<td th:text='${row.date_creation}'></td>
<td>
<a th:href='@{/information_employee/edit/{id}(id=${row.id})}'>Edit</a> | <a th:href='@{/information_employee/delete/{id}(id=${row.id})}'>Delete</a>
</td></tr>
</tbody></table></body></html>